#content {
	margin: 40px 50px;
}

li {
	margin-bottom: 0.5em;
}

table {
	border-collapse: collapse;
}

th,
td {
	border: 1px solid black;
	padding: 4px;
}

th {
	background-color: rgba(100, 100, 100, 0.25);
	text-align: left;
}

#content .material-icons-outlined {
	vertical-align: middle;
	margin-right: 5px;
}


div.htmx-request .content,
.htmx-request #content .input-group {
	opacity: 0.1;
}

.sticky-spinner,
.full-spinner {
	display: none;
    align-items: center;
	position: absolute;
    justify-content: center;
}
.sticky-spinner {
    width: 170px;
    height: 200px;
}
.full-spinner {
    width: calc(100% - 120px);
    height: calc(100vh - 200px);
}
.htmx-request .sticky-spinner,
.htmx-request .full-spinner {
	display: flex;
}
.full-spinner:after,
.sticky-spinner:after {
	content: " ";
	display: block;
	width: 32px;
	height: 32px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #333;
	border-color: #333 transparent #333 transparent;
	animation: spinner 1.2s linear infinite;
}
.bar-container {
	width: 200px;
	height: 18px;
}

.section {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.section div div {
	font-family:Arial, Helvetica, sans-serif;
}

h2 {
	margin-bottom: 10px;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (max-device-width: 920px) {
	button,
	input {
		font-size: 16px;
	}

	#content {
		margin: 5px 5px;
	}

	.bar-container {
		max-width: 32vw;
		height: 12px;
	}

	.section {
		flex-direction: column;
		gap: 0;
	}
}
